.header {
 display: inline-block;
 width: 100%;
 height: 100px;
 padding: 5px;
 border: 1px solid black;
 background-color: khaki;
}

h1{
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
}

h2{
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
}